.opinions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 2rem;
  overflow: hidden;
  text-align: end;
  background-attachment: fixed;
  background-color: var(--primary);
}
.op__headers {
  padding-top: 6rem;
}
.op__cards__holder {
  display: flex;
  justify-content: space-evenly;
}
.op__header {
  margin: 0;
}
.op__header__text {
  color: var(--secondary);
  text-align: center;
}
.op__header__p {
  font-size: 21px;
  text-align: center;
  color: var(--secondary);
  margin-bottom: 2rem;
}
.op__cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.op__card {
  display: flex;
  flex-direction: column;
  width: 25rem;
  background-color: transparent;
  margin: 1.5rem 1rem;
  border: 1px solid var(--border-bb);
  transition: all ease 0.3s;
}
.free__card {
  width: 38rem;
  height: 19.25rem;
  margin: 0 4rem;
}
.op__card__img {
  border-radius: 50%;
  border: 2px solid var(--secondary);
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}
.free__card__img {
  border-radius: 50%;
  border: 3px solid var(--secondary);
  width: 5rem;
  height: 5rem;
  margin-right: 2rem;
}
.op__cards__first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 1rem 0;
}
.free__cards__first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 1rem 0;
}
.in__between {
  display: flex;
  flex-direction: row;
}
.op__card__first__holder {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}
.free__card__first__holder {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}
.op__card__name {
  margin: 0;
  color: var(--secondary);
  font-size: 18px;
  font-weight: 400;
}
.free__card__name {
  margin: 0;
  color: var(--secondary);
  font-size: 24px;
  font-weight: 500;
  text-align: left;
}
.op__card__date {
  margin: 0;
  font-size: 14px;
  color: var(--white);
}
.free__card__date {
  margin: 0;
  font-size: 16px;
  color: var(--white);
}
.google__img {
  background-image: url("https://cdn.trustindex.io/assets/platform/Google/icon.svg");
  width: 1.5rem;
  height: 1.5rem;
}
.op__text {
  font-size: 14px;
  font-weight: 300;
  color: var(--white);
  margin: 0;
  text-align: start;
}
.free__text {
  font-size: 21px;
  font-weight: 300;
  color: var(--white);
  padding-top: 2rem;
  text-align: start;
}
.footer__op {
  height: 0.35rem;
  width: 100%;
  margin-top: 2.5rem;
}
.op__buttons {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
.free-rating img {
  width: 1.25rem;
}
.op__rating img {
  width: 1rem;
}
.op__text__holder {
  height: 9.2rem;
  overflow: hidden;
  overflow-x: hidden;
  padding: 0.75rem;
}
@media screen and (max-width: 1260px) {
  .op__card {
    margin: 0 0.5rem;
  }
}
@media screen and (max-width: 795px) {
  .op__cards {
    flex-direction: column;
  }
  .op__card {
    margin: 1rem 0;
    align-self: center;
  }
}
