.opinions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 2rem;
  overflow: hidden;
  text-align: end;
  background: linear-gradient(70deg, var(--black) 20%, var(--primary) 0%);
  background-attachment: fixed;
}
.op__headers {
  padding-top: 6rem;
}
.op-cards-holder {
  display: flex;
  justify-content: space-evenly;
  width: 200%;
}
#two:checked ~ div.op-cards-holder {
  margin-left: -100%;
}
.op-header {
  margin: 0;
}
.op-header-text {
  color: var(--secondary);
  padding-right: 5rem;
}
.op-header-p {
  font-size: 21px;
  color: var(--secondary);
  padding-right: 5rem;
  margin-bottom: 5rem;
}
.op-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: calc(100% / 2 - 10px);
}
.op-card {
  display: flex;
  flex-direction: column;
  width: 25rem;
  background-color: transparent;
  margin: 1.5rem 1rem;
  border: 1px solid var(--border-bb);
  transition: all ease 0.3s;
}
.free-card {
  width: 35rem;
  height: 18.25rem;
  margin: 0 1.5rem;
}
.op-card-img {
  border-radius: 50%;
  border: 2px solid var(--secondary);
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}
.free-card-img {
  border-radius: 50%;
  border: 3px solid var(--secondary);
  width: 5rem;
  height: 5rem;
  margin-right: 2rem;
}
.op-cards-first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 1rem 0;
}
.free-cards-first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 1rem 0;
}
.in-between {
  display: flex;
  flex-direction: row;
}
.op-card-first-holder {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.free-card-first-holder {
  display: flex;
  flex-direction: column;
}
.op-card-name {
  margin: 0;
  color: var(--secondary);
  font-size: 18px;
  font-weight: 400;
}
.free-card-name {
  margin: 0;
  color: var(--secondary);
  font-size: 21px;
  font-weight: 500;
}
.op-card-date {
  margin: 0;
  font-size: 14px;
  color: var(--white);
}
.free-card-date {
  margin: 0;
  font-size: 16px;
  color: var(--white);
}
.google-img {
  background-image: url("https://cdn.trustindex.io/assets/platform/Google/icon.svg");
  width: 1.5rem;
  height: 1.5rem;
}
.op-text {
  font-size: 14px;
  font-weight: 300;
  color: var(--white);
  margin: 0;
  text-align: start;
}
.free-text {
  font-size: 18px;
  font-weight: 400;
  color: var(--white);
  padding-top: 2rem;
  text-align: start;
}
.footer-op {
  height: 0.35rem;
  width: 100%;
  margin-top: 2.5rem;
}
.op-buttons {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
.op-buttons label {
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  margin: 0 0.4rem;
  border-radius: 50px;
  height: 1rem;
  width: 1rem;
  transition: 0.2s all ease;
}
.op-buttons label:hover {
  cursor: pointer;
}
.op-buttons label.active {
  width: 1.1rem;
  height: 1.1rem;
  background-color: transparent;
}
.radio-but {
  display: none;
}
#one:checked ~ .op-buttons label.one {
  width: 1.1rem;
  height: 1.1rem;
  background-color: transparent;
}
#two:checked ~ .op-buttons label.two {
  width: 1.1rem;
  height: 1.1rem;
  background-color: transparent;
}
#two:checked ~ .op-buttons label.one {
  width: 1rem;
  height: 1rem;
  background-color: var(--secondary);
}
#one:checked ~ .op-buttons label.two {
  width: 1rem;
  height: 1rem;
  background-color: var(--secondary);
}
.op-text-holder {
  height: 10rem;
  overflow: hidden;
  overflow-x: hidden;
  padding: 1rem;
}
@media screen and (max-width: 1260px) {
  .op-card {
    margin: 0 0.5rem;
  }
}
@media screen and (max-width: 795px) {
  .op-cards {
    flex-direction: column;
  }
  .op-card {
    margin: 1rem 0;
    align-self: center;
  }
}
.horizontal__brake {
  display: none;
  height: 0.15rem;
  width: 55rem;
  background-color: var(--secondary);
  align-self: flex-end;
  transition: all 1s cubic-bezier(0.42, 0, 0.58, 1);
}
.horizontal__active {
  width: 65rem;
}
