.luc__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  transition: all 0.5s ease-in-out;
}
.active__nav {
  background-color: var(--black);
}
.header__three {
  font-size: 28px;
  font-weight: 500;
  color: var(--secondary);
  margin-left: 1.5rem;
}
.luc__nav__icons {
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
}
.icon__small {
  display: flex;
  align-self: center;
  align-items: center;
  font-size: 2.5rem;
  text-align: center;
  background-color: var(--secondary);
  border-radius: 50px;
  padding: 0.5rem;
  color: var(--black);
  margin: 0 0.5rem;
}
.icon__small:hover {
  cursor: pointer;
  color: var(--white);
  background-color: var(--border-bb);
}
.icon__grand {
  align-self: center;
  font-size: 3rem;
  text-align: center;
  background-color: var(--secondary);
  border-radius: 50px;
  padding: 0.5rem;
  color: var(--black);
  margin: 0 0.5rem;
}
.icon__grand:hover {
  cursor: pointer;
  color: var(--white);
  background-color: var(--border-bb);
}
.menu__grand {
  align-self: center;
  width: 3rem;
  height: 3rem;
  text-align: center;
  background-color: var(--secondary);
  border-radius: 50px;
  padding: 0.5rem;
  color: black;
  margin: 0 0.5rem;
}
.menu__grand:hover {
  background-color: var(--border-bb);
}
