.sections__card__holder {
  width: 20vw;
  height: 72vh;
  display: flex;
  flex-direction: column;
  background: url(https://pbs.twimg.com/media/FS6MxeKWAAIhQ78?format=jpg&name=medium);
  background-size: cover;
  background-position: center;
  margin: 0 0.75rem;
  justify-content: end;
  box-shadow: inset 0 0 0 1000px #00000077;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  border: 2px solid var(--black);
}
.sections__card__holder:hover {
  border: 2px solid var(--border-bb);
  box-shadow: inset 0 0 0 1000px #000000a6;
  transform: scale(1.05);
}
.sections__card__holder .sections__card h3 {
  color: var(--secondary);
}
.sections__card__holder .sections__card p {
  color: var(--white);
}
.sections__card {
  padding: 1rem;
}
.sections__input {
  font-size: 21px;
  color: var(--secondary);
  background: transparent;
  border: 1px solid var(--secondary);
  padding: 0.5rem 0.75rem;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  font-weight: 400;
}
.sections__input:hover {
  background-color: var(--secondary);
  color: var(--black);
}
