.open__cards {
  background-color: var(--primary);
  color: var(--secondary);
}
.open__tarifs {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  padding: 4rem 0;
}
.tarifs__first {
  width: 30rem;
  text-align: end;
}
.tarifs__cards {
  display: flex;
  flex-direction: row;
}
.holder__price span {
  padding: 0 0.2rem;
}
