.footer-holder {
  background-color: var(--secondary-color);
}
.footer-Logo {
  width: 12rem;
  margin: 1rem 0;
  align-self: center;
}
.footer-section-one {
  margin: 0;
}
.footer-section-one ul li {
  text-align: center;
  list-style-type: none;
  font-size: 14px;
  width: 18rem;
  padding-bottom: 0.25rem;
}
.footer-section-one ul {
  display: none;
  padding: 0;
}
.footer-holder .card-group {
  justify-content: center;
  padding: 0;
}
.footer-section-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgb(34, 34, 34);
  padding: 1.25rem 0.5rem;
  box-shadow: inset 0 10px 10px -5px #141414;
}
.sct-first {
  display: flex;
  flex-direction: row;
}
.sct-first p {
  font-size: 14px;
  font-weight: 300;
  color: var(--background-body);
}
.sct-second p:hover {
  color: var(--text-color);
}
.sct-second p {
  font-size: 14px;
  font-weight: 300;
  color: var(--background-body);
}
.sct-second {
  display: flex;
  flex-direction: row;
}
.fa-instagram {
  color: var(--background-body);
  font-size: 16px;
  padding: 0.2rem 1rem 0;
}
.fa-instagram:hover {
  color: var(--primary-hover);
  cursor: pointer;
}
.copy-right {
  color: white;
  margin: 0;
}
.vertical {
  display: flex;
  align-self: center;
  height: 1rem;
  width: 0.1rem;
  background-color: var(--background-body);
}
.img-holder-footer {
  display: flex;
  justify-content: center;
}
.footer-section-two p {
  color: var(--background-body);
  margin: 0;
  padding: 0 1rem;
}
@media screen and (max-width: 1032px) {
  .middle-section {
    flex-direction: column;
  }
  .middle-section-first {
    align-items: center;
    padding: 2rem 0;
  }
  .middle-section-second {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
  }
  .middle-image {
    margin: 2rem 0;
  }
}
@media screen and (max-width: 580px) {
  .footer-section-two {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sct-first {
    text-align: center;
    padding: 0.5rem 0;
  }
  .sct-second {
    padding: 0.5rem 0;
  }
  .middle-info {
    text-align: center;
  }
}
@media screen and (max-width: 415px) {
  .sct-first {
    text-align: center;
    padding: 0.5rem 0;
    flex-direction: column;
  }
  .sct-second {
    text-align: center;
    padding: 0.5rem 0;
    flex-direction: column;
  }
  .vertical {
    display: none;
  }
}
