@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;1,300&display=swap");

:root {
  --primary-color: #424242;
  --secondary-color: rgb(235, 235, 235);
  --background-second: #e6e8ec;
  --primary-hover: #757575;
  --background-body: #fff;
  --text-color: #aaa;
  --border: hsla(0, 0%, 100%, 0.4);
  --black: rgb(3, 3, 3);
}
p {
  font-weight: 300;
}
body {
  background-color: var(--background-body);
  font-family: "Rubik";
}
ul {
  list-style-type: none;
}
h4 {
  font-size: 21px;
  font-weight: 400;
}
h2 {
  font-size: 26px;
}
p {
  font-size: 16px;
  font-weight: 300;
}
.hr-line {
  background-color: var(--background-body);
  width: 3rem;
  height: 0.15rem;
  align-self: center;
  transition: 0.3s;
}
div.wel-holder:hover > .hr-line {
  width: 4rem;
}
div.installs-section-one:hover > .hr-line {
  width: 4rem;
}
.inter-div {
  background-color: var(--primary-color);
  width: 3rem;
  height: 0.15rem;
  align-self: center;
  transition: 0.3s;
}
div.marks-divs:hover > .inter-div {
  width: 4rem;
}
.btn {
  font-size: 16px;
  font-weight: 400;
  background: transparent;
  color: var(--text-color);
  border: none;
  padding: 0;
}
.btn:hover {
  background: transparent;
  color: var(--background-body);
}
.btn-check:active + .btn-primary,
.btn-check:checked + .btn-primary,
.btn-primary.active,
.btn-primary:active,
.show > .btn-primary.dropdown-toggle {
  outline: none;
  color: var(--background-body);
  background: transparent;
  border: none;
}
.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(49, 131, 253, 0) !important;
}
.btn-check:focus + .btn-primary,
.btn-primary:focus {
  box-shadow: 0 0 0 0.25rem rgba(49, 131, 253, 0) !important;
}
.dropdown-item {
  text-align: left;
  font-weight: 300;
  background-color: var(--background-body);
}
.wrapper-first ul li div.dropdown-menu.show a {
  font-size: 16px;
  font-weight: 400;
  color: var(--primary-color);
}
.wrapper-first ul li div.dropdown-menu.show a:hover {
  background: var(--secondary-color);
  color: var(--primary-hover);
}
.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  text-align: left;
  background-color: var(--background-body);
  background-clip: padding-box;
  border-radius: 5px;
}
