@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;1,300&display=swap");

:root {
  --primary-color: #424242;
  --background-second: #e6e8ec;
  --primary-hover: #bdbdbd;
  --background-body: #fff;
  --text-color: #aaa;
  --border: hsla(0, 0%, 100%, 0.4);
  --black: rgb(3, 3, 3);
}
p {
  font-weight: 300;
}
body {
  background-color: var(--background-body);
  font-family: "Rubik";
}
ul {
  list-style-type: none;
}
h4 {
  font-size: 21px;
  font-weight: 400;
}
p {
  font-size: 16px;
  font-weight: 300;
}
.hr-line {
  background-color: var(--background-body);
  width: 3rem;
  height: 0.15rem;
  align-self: center;
  transition: 0.3s;
}
div.wel-holder:hover > .hr-line {
  width: 4rem;
}
div.marks-divs:hover > .hr-line {
  width: 4rem;
}
