.installs {
  background-color: var(--primary-color);
}
.installs p {
  color: white;
  text-align: end;
}
.installs-section-one {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  width: 60vw;
  padding: 4rem;
}
.installs {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
.installs-title {
  color: var(--background-body);
  text-align: center;
  padding-bottom: 1rem;
  margin: 0;
}
.installs-text {
  color: var(--background-body);
  text-align: center;
  padding-top: 1rem;
}
Iframe {
  display: flex;
  border: none;
  height: 26rem;
  width: 50vw;
  position: relative;
}
.installs p {
  margin: 0;
}
@media screen and (max-width: 1085px) {
  .installs {
    display: flex;
    flex-direction: column;
  }
  .installs-section-one {
    width: 100%;
  }
  Iframe {
    width: 100%;
    height: 20rem;
  }
}
