.login-holder {
  display: flex;
  justify-content: center;
  background: var(--secondary-color);
}
.modal-login {
  width: 24rem;
  margin: 7rem 0 4rem;
  padding: 2rem;
  background: var(--background-body);
  border: 1px solid var(--border);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.inputs-holder {
  display: flex;
  flex-direction: column;
}
.inputs-ls {
  margin: 0.75rem 0;
  padding: 0.75rem;
  border: none;
  font-size: 16px;
  color: var(--secondary-color);
  font-weight: 300;
  width: 100%;
}
.ls-first {
  background-color: var(--primary-color);
}
.inputs-ls:focus {
  outline: none;
}
.ls-second {
  background-color: var(--text-color);
}
::placeholder {
  color: var(--secondary-color);
  font-weight: 300;
}
.signup-button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  font-size: 16px;
  background: var(--black);
  color: var(--background-body);
  font-weight: 300;
}
.mm-footer {
  margin-top: 1rem;
}
.mm-body {
  padding: 0.5rem 0;
}
.mm-header p {
  font-weight: 400;
}
.mm-header span {
  color: var(--primary-hover);
}
.href-mm {
  text-decoration: none;
  color: var(--black);
}
.mm-body p {
  font-weight: 400;
}
.mm-body span {
  color: var(--primary-hover);
}
