.login__holder {
  display: flex;
  justify-content: center;
  background: var(--black);
}
.modal__login {
  width: 24rem;
  margin: 7rem 0 4rem;
  padding: 2rem;
  border: 1px solid var(--border);
}
.inputs__holder {
  display: flex;
  flex-direction: column;
}
.inputs__ls {
  margin: 0.75rem 0;
  padding: 0.75rem;
  border: none;
  font-size: 21px;
  color: var(--secondary);
  font-weight: 300;
  width: 100%;
}
.ls__first {
  background-color: var(--primary);
}
.inputs__ls:focus {
  outline: none;
}
.ls__second {
  background-color: var(--primary);
}
::placeholder {
  color: var(--border);
}
.signup__button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  font-size: 21px;
  background: var(--secondary);
  color: var(--black);
}
.signup__button:hover {
  background: var(--border-bb);
  color: var(--secondary);
}
.mm__footer {
  margin-top: 1rem;
}
.mm__body {
  padding: 0.5rem 0;
}
.mm__header h2 {
  font-weight: 500;
  color: var(--secondary);
}
.mm__header p {
  font-weight: 500;
}
.mm__header span {
  color: var(--white);
}
.href__mm {
  text-decoration: none;
  color: var(--white);
}
.href__mm:hover {
  color: var(--border);
}
.mm__body p {
  font-weight: 400;
}
.mm__body span {
  color: var(--white);
}
