.wrapper-first ul {
  margin: 0;
  display: flex;
  flex-direction: row;
}
.wrapper-first ul li {
  margin: 0.5rem 0.75rem;
  padding: 0.5rem 0.75rem;
}
.wrapper-first ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
}
.wrapper-first ul li a:hover {
  color: var(--background-body);
}
.navbar-logo {
  color: var(--background-body);
}
.active-nav {
  background-color: var(--primary-color);
  box-shadow: inset 0 -1px 0 0 rgb(0 0 0 / 10%);
}
.navbar {
  transition: visibility 0.35s step-start, transform 0.35s ease,
    background-color 0.35s ease, box-shadow 0.35s ease, height 0.2s ease;
}
