.marks-divs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--black);
  padding: 8rem 0 2rem;
}
.marks-title {
  margin-bottom: 1rem;
}
.marks-p {
  margin-top: 1rem;
  padding: 0 4rem;
  max-width: 70rem;
}
.marks-divs p {
  font-size: 21px;
}
.menu-link {
  margin: 2rem 0 1rem;
  color: var(--black);
  font-size: 21px;
  font-weight: 300;
  text-decoration: none;
}
.menu-link:hover {
  color: var(--primary-color);
}
.inter-div {
  height: 0.15rem;
  width: 8rem;
  background-color: var(--primary-color);
  transition: 0.8s all;
}
a.menu-link:hover + .inter-div {
  width: 22rem;
}
