.marks-divs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--black);
  padding: 4rem 0 2rem;
}
.marks-title {
  margin-bottom: 1rem;
}
.marks-p {
  margin-top: 1rem;
  padding: 0 4rem;
  max-width: 70rem;
}
.marks-divs p {
  font-size: 21px;
}
