.table-holder {
  background-color: white;
  align-items: center;
  padding: 1rem;
  border: 1px solid var(--border);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.table {
  display: flex;
  justify-content: center;
  background: var(--secondary-color);
  margin: 0;
}
.week-day {
  display: flex;
  flex-direction: row;
}
.week-day-table {
  display: flex;
  flex-direction: row;
  background: var(--background-second);
}
.week-day-ho {
  padding: 0.75rem 2rem;
}
.week-day-ho p {
  font-size: 18px;
  text-align: center;
  margin: 0;
}
.table-holder h2 {
  padding: 2rem;
  text-align: left;
  margin: 0;
}
.get-class {
  border: 1px solid var(--border);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  display: flex;
  margin: 1rem 0;
  justify-content: space-between;
  width: 8rem;
  overflow: hidden;
}
.get-class p {
  font-size: 16px;
  padding: 0.5rem;
  margin: 0;
}
.get-class span {
  font-size: 16px;
  padding: 0;
  margin: 0;
  align-self: center;
}
