.welcome-class {
  background-color: var(--primary);
  color: var(--secondary);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  padding: 8rem 0 2rem;
  height: 449.6px;
}
.wel-holder {
  max-width: 35rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.wel-holder p {
  margin-top: 1rem;
}
.welcome-title {
  padding-bottom: 0.75rem;
}
.welcome-button {
  color: var(--secondary);
  background-color: transparent;
  border: 1px solid var(--border-bb);
  padding: 0.5rem 1.75rem;
  font-size: 16px;
  margin: 1rem 0;
  font-weight: 300;
}
.welcome-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.welcome-button:hover {
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  color: var(--black);
}
.wel-logo {
  width: 12rem;
}
.wel-buttons-holder .welcome-button {
  margin-right: 1rem;
}
