.inner__brake {
  height: 2px;
  background-color: var(--secondary);
  width: 80vw;
}
.hold__cc p {
  padding-top: 0.5rem;
  font-family: "Libre Bodoni", serif;
  font-style: italic;
}
.hold__cc {
  display: flex;
  align-items: flex-start;
}
.luc__horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
}
