.semi-cards__holder {
  padding: 6rem 0;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.semi-cards {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 857px) {
  .semi-cards {
    flex-direction: column;
  }
}
.semi__divider {
  height: 2px;
  width: 80vw;
  background-color: var(--secondary);
}
.span__text {
  font-size: 18px;
  color: var(--white);
  text-align: left;
  padding-top: 1rem;
  font-style: italic;
}
.semi__infos {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 8rem;
  align-items: center;
}
.infos__fi {
  max-width: 35vw;
  height: 35rem;
}
.infos__header {
  color: var(--secondary);
}
.infos__h {
  font-size: 21px;
  padding: 1rem 0;
}
.infos__par {
  color: var(--white);
}
.blog__butt {
  font-size: 21px;
  color: var(--secondary);
  border: none;
  padding: 0.5rem 0;
  background-color: transparent;
  transition: 0.2s all ease;
}
.right__arrow {
  font-size: 30px;
  margin: 0 0.75rem 0 1rem;
  transform: rotate(-45deg);
  transition: 0.2s all ease;
}
.blog__butt:hover > .right__arrow {
  margin-left: 2.5rem;
  transform: rotate(-75deg);
}
