.semi-cards__holder {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.semi-cards {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 857px) {
  .semi-cards {
    flex-direction: column;
  }
}
.semi__infos {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.infos__fi {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
}
.infos__header {
  color: var(--secondary);
}
.infos__h {
  font-size: 21px;
  padding: 1rem 0;
}
.infos__par {
  color: var(--secondary);
}
.blog__butt {
  font-size: 21px;
  color: var(--secondary);
  border: none;
  padding: 0.5rem 0;
  background-color: transparent;
  transition: 0.2s all ease;
}
.right__arrow {
  font-size: 30px;
  margin: 0 0.75rem 0 1rem;
  transform: rotate(-45deg);
  transition: 0.2s all ease;
}
.blog__butt:hover > .right__arrow {
  margin-left: 2.5rem;
  transform: rotate(-75deg);
}
.infos__se {
  width: 40vw;
  height: 40rem;
}
.fi_ {
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
}
