.luc__slider {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-height: 100vh;
  max-width: 100%;
  align-items: center;
  overflow: hidden;
}
.slider__section_one {
  max-width: 50%;
  padding: 0 7rem;
}
.header__one {
  color: var(--secondary);
  font-size: 36px;
}
.slider__paragraph {
  font-size: 21px;
  color: var(--secondary);
}
.slider__button {
  font-size: 21px;
  color: var(--secondary);
  border: 1px solid var(--secondary);
  background-color: transparent;
  padding: 0.5rem 0.75rem;
}
.slider__button:hover {
  background-color: var(--secondary);
  color: var(--black);
}
.slider__section_two {
  overflow: hidden;
  height: 100%;
}
.carousel-control-prev {
  display: none;
}
.carousel-control-next {
  display: none;
}
