.open__card {
  background-color: #2f2f2f;
  margin: 0.5rem;
}
.opne__first {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgb(0 0 0 / 70%) 0px 3px 8px;
}
.holder__price {
  display: flex;
  flex-direction: row;
  padding: 1rem 0;
}
.open__lit {
  font-size: 16px;
  font-weight: 500;
  background: var(--secondary);
  color: var(--black);
  padding: 0 0.75rem;
}
.open__b {
  font-size: 21px;
  font-weight: 500;
}
.open__desc {
  font-size: 16px;
  font-weight: 500;
  background-color: #bdbdbd8c;
  padding: 0.5rem;
  color: var(--black);
}
.opne__second {
  max-width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.holder__price span {
  font-size: 21px;
}
