.card__slider {
  max-width: 25rem;
  height: 29.07rem;
  transition: 0.5s all;
}
.slider__video {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
}

#rssBlock {
  left: 0px;
  height: 60px;
  background: transparent;
  position: relative;
  width: 25rem;
  overflow: hidden;
  border-bottom: 1px solid var(--border);
}
.cnnContents {
  width: 100%;
  padding-top: 20px;
  margin: 0 auto;
  font-size: 16px;
  color: var(--secondary);
  white-space: nowrap;
  text-transform: uppercase;
  font-family: "Libre Bodoni", serif;
  font-weight: 300;
}

.marqueeStyle {
  display: inline-block;
  /* Apply animation to this element */
  -webkit-animation: scrolling-left1 20s linear infinite;
  animation: scrolling-left1 20s linear infinite;
}

.marqueeStyle2 {
  display: inline-block;
  /* Apply animation to this element */
  -webkit-animation: scrolling-left2 20s linear infinite;
  animation: scrolling-left2 20s linear infinite;
  animation-delay: 10s;
}
/* scrolling-left is continuous/repeatly text */
@keyframes scrolling-left1 {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
}
@keyframes scrolling-left2 {
  0% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
  }
}

@-webkit-keyframes scrolling-left1 {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
@-webkit-keyframes scrolling-left2 {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-200%);
  }
}
div.card__slider:hover::after {
  content: "See more";
  top: -18rem;
  left: 10rem;
  position: relative;
  color: var(--border-bb);
  background-color: var(--secondary);
  font-size: 21px;
  padding: 0.25rem;
}
div.card__slider:hover {
  cursor: pointer;
  background-color: var(--border-bb);
  box-shadow: rgb(0 0 0 / 70%) 0px 3px 8px;
}
