.contact-form__holder {
  display: flex;
  flex-direction: column-reverse;
  padding: 4rem 0 8rem;
  background-color: var(--primary);
  justify-content: center;
  align-items: center;
}
.contact__header {
  text-align: center;
  color: var(--secondary);
  max-width: 65rem;
  padding-bottom: 4rem;
}
.form__header {
  max-width: fit-content;
  color: var(--secondary);
  margin: 0 0.75rem;
}
.form__header p {
  font-size: 16px;
  font-weight: 500;
  color: var(--black);
  background-color: #bdbdbd8c;
  padding: 1rem;
}
.contact__form {
  background-color: #2f2f2f;
  box-shadow: rgb(0 0 0 / 70%) 0px 3px 8px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}
.form__inps-holder {
  display: flex;
  flex-direction: row;
}
.contact__input {
  margin: 0.75rem;
  padding: 0.75rem;
  border: none;
  font-size: 21px;
  width: 30rem;
  color: var(--secondary);
  font-weight: 300;
  background: #222222;
  border: 1px solid #222222;
}
.contact__inputs {
  display: flex;
  flex-direction: column;
}
.contact__textarea {
  margin: 0.75rem;
  padding: 0.75rem;
  background: #222222;
  border: 1px solid #222222;
  font-size: 21px;
  color: var(--secondary);
  font-weight: 300;
  height: 8.65rem;
  width: 30rem;
}
.contact__button {
  margin: 0.75rem;
  padding: 0.75rem;
  border: 1px solid var(--secondary);
  font-size: 21px;
  color: var(--black);
  width: 30rem;
  background-color: var(--secondary);
}
