.contact-form__holder {
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  padding: 6rem 0 8rem;
}
.secondary-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 6rem;
}
.modal__form .mm__body {
  width: 25rem;
}
.secondary__text {
  max-width: 25rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.form__title h1 {
  color: var(--secondary);
  text-align: center;
}
.secondary__text h2,
p,
h3 {
  color: var(--secondary);
}
.mm__body h3 {
  margin-bottom: 1rem;
  text-align: center;
}
.secondary__text p {
  font-size: 21px;
}
.mm__body p {
  font-size: 21px;
}
.form__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.title__row-left {
  width: 35vw;
  height: 0.15rem;
  background-color: var(--secondary);
}
.title__row-right {
  width: 35vw;
  height: 0.15rem;
  background-color: var(--secondary);
}
.logo__img-sec {
  width: 15rem;
  margin: 2rem;
}
.ls__third {
  background-color: var(--black);
}
.modal__form {
  display: flex;
  flex-direction: row;
}
.textarea__holder {
  padding: 4.25rem 2rem 0;
}
.textarea {
  background-color: var(--black);
  border: none;
  padding: 0.75rem;
  width: 25rem;
  height: 100%;
}
